.Background {
        background-image: url(images/bloodyHandPrint.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-position-y: center;
        background-position-x: center;

        background-color: black;
        padding-top: 40rem;
        margin-top: 0;


    }

.Background2 {
    background-image: url(images/alienThrone.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position-y: center;
    background-position-x: center;

    background-size: cover;
}

.Redpalm {
    background-color: black;
    image-resolution: normal;
}

.Welcome {
    background-color: blue;
    border-radius: 36px;
}



.Info{
    text-decoration: underline;
    text-underline: black;
    color: black;
    margin: 4px;
    padding: 4px;
}

.Poster{
    border-bottom:  black;

font-weight: bold;
    color: blue;
   ;


}

.PostBox{
    background-color: white;
    border: solid black;
    overflow: scroll;
}

Row {
    border-radius: 30px;
}

h1 {
    margin-bottom: 30rem;

}