.Background {
    background-image: url( "../images/native.jpg");
    background-repeat: no-repeat;
    width: 1280px;
    height: 1280px;

}

.Redpalm {
    background-color: black;
}

.Welcome {
    background-color: black;
}

.Card1 {
    top: 20em;
    left:10em;
}

.Card2 {
    top: 25em;
}

.Card3 {
    top: 20em;
    right: 10em;
}